<div class="container">
	<div class="row">
		<div class="col-xs-1">
		</div>
		<div class="col-md-9 col-xs-11">
			<div>
				<a ng-href="{{post.url}}">
					{{post.title}}
				<span class="url">({{ post.url | hostnameFromUrl}})</span>
				</a>
			</div>
			<div>
				<span>
					submitted by
					<a ng-href="#/users/{{ post.creatorUID }}">
						{{ post.creator }}
					</a>
				</span>
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div ng-repeat="comment in comments" class="row">
		<div class="col-md-12">
			<p> {{comment.text}}</p>
			<p class="author"> posted by
				<a ng-href="#/users/{{ comment.creatorUID | uidfilter }}">
					{{ comment.creator }}
				</a>
				<a ng-href="" ng-click="deleteComment(comment)" ng-show="signedIn() && comment.creatorUID === user.uid"> (delete) </a>
			</p>
		</div>
	</div> <!-- ./end Comments -->

	<div class="cmt-form">
		<div ng-hide="signedIn()">
			<p><a href="#/login"> Sign in</a> to post a comment</p>
		</div>

		<form ng-show="signedIn()" ng-submit="addComment()">
			<textarea ng-model="commentText" placeholder="Post a comment" class="form-control"></textarea><br>
			<input type="submit" value="Post Comment">
		</form>
	</div> <!-- ./endCommentForm -->
</div>
